<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Microsoft-CFS" value="https://packagefeedproxy.microsoft.io/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="Microsoft-CFS">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
