.editor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    max-width: 48rem;
}
.editor ::deep fluent-text-field,
.editor ::deep fluent-text-area {
    width: 100%;
}
.editor label {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 0;
}
.editor ::deep select {
    width: 100%;
    max-width: 100%;
}
.editor .text-muted {
    margin: 0;
}
