.event-card {
    border: 1px solid var(--neutral-stroke-rest, #777);
    border-radius: .5rem;
    padding: 1rem;
    margin-block: .75rem;
    overflow-wrap: anywhere;
}

.event-card ::deep .placeholder-cover {
    max-height: 18rem;
    aspect-ratio: 5 / 2;
}
